---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main class="my-32 max-w-prose mx-auto">
    <h1 class="text-6xl font-bold text-center">
      Hello, <span class="bg-gradient-to-r from-emerald-600 to-teal-500 bg-clip-text text-transparent">Github!</span>
    </h1>
    <Card title="Hello" />
    <div class="debug"></div>
  </main>
</Layout>
